Prompt {
    background: $primary 10%;
    color: $text;
    margin: 1;        
    margin-right: 8;
    padding: 1 2 0 2;
}

Response {
    border: wide $success;
    background: $success 10%;   
    color: $text;             
    margin: 1;      
    margin-left: 8; 
    padding: 1 2 0 2;
}

Response HorizontalGroup {
    dock: bottom;
}

Response HorizontalGroup Button {
    border: none;
    margin: 1;
}

ModelMenu {
    align: center middle;
}

ModelMenu OptionList {
    width: 70%;
    height: 80%;
}